/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Press Start 2P", monospace;
  --border-color: #000000; /*black*/
  --shadow-color: #4b4949;
  --left-highlight-color: #ffffff; /*white*/
  --top-highlight-color: #d6d6d6; /*lighter-grey*/
  --background-color: #a5a5a5; /*light grey*/
  --one-color: #0e6b0a;
  --two-color: #131191;
  --three-color: #880f6e;
  --four-color: #97400e;
}

/* Global styles */

/* Add a black background color to the top navigation */
.topnav {
  font-family: var(--primary-font);  
  background-color: var(--border-color);
  overflow: hidden;
  display: flex;
  justify-content: center; /* center horizontally */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--left-highlight-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--top-highlight-color);
  color: var(--border-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--shadow-color);
  color: var(--left-highlight-color);
}

.topnav a:not(:last-child) {
  margin-right: 40px;
}

main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers horizontally */
    justify-content: flex-start; /* top alignment */
    min-height: 100vh; /* optional: helps with vertical space */
}

.container {
    width: 600px;
}

h1 {
    padding-bottom: 50px;
}

.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 10px solid var(--border-color);
}

div {
    font-size: 25px;
    text-align: center;
    font-family: var(--primary-font);  
}

.valid,
.bomb {
    border: 5px solid;
    border-color: var(--top-highlight-color) var(--shadow-color) var(--shadow-color) var(--left-highlight-color);
    box-sizing: border-box;
    /*set to 10% of grid height & width so that exactly 10x10 squares can fit in the grid*/
    width: 50px;
    height: 50px;
}

.checked {
    width: 50px;
    height: 50px;
    border: 2px solid var(--shadow-color);
    box-sizing: border-box;
}

.one {
    color: var(--one-color);
}

.two {
    color: var(--two-color);
}

.three {
    color: var(--three-color);
}

.four {
    color: var(--four-color);
}

#how-to-play {
    padding-top: 50px;
}

footer {
  font-family: var(--primary-font);  
  font-size: 17px;
  color: var(--left-highlight-color);
  background-color: var(--border-color);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0; 
}