/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Press Start 2P", sans-serif;
  --border-color: #5f6a6a; /*dark grey*/
  --background-color: #a5a5a5; /*light grey*/
}

/* Global styles */
.container {
    width: 600px;
}

.game-grid {
    height: 500px;
    width: 500px;
    display: flex;
    background-color: var(--background-color);
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 10px solid var(--border-color);
}

div {
    font-size: 25px;
    text-align: center;
    font-family: var(--primary-font);
}